<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="dbConnection" value="Data Source=.;Initial Catalog=Bishoftu;Integrated Security=True;"/>
    <add key="Languages" value=""/></appSettings>
 	<!--<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Data.v12.1" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.2.11.0" newVersion="11.2.11.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraEditors.v12.1" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.2.11.0" newVersion="11.2.11.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Utils.v12.1" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.2.11.0" newVersion="11.2.11.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>-->
</configuration>
