<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<!--<add key="dbConnection" value="Data Source=.;Initial Catalog=Bishoftu;Integrated Security=True;"/>-->
		<add key="logoPath" value="C:\HCMISDB\\"/>
		<add key="IsHub" value="false"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="CalculatorServiceBehavior">
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<basicHttpBinding>
				<binding name="ServiceDirectorySoap" closeTimeout="00:10:00"
					openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
					allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
					maxBufferPoolSize="524288000" maxBufferSize="65536000" maxReceivedMessageSize="6553600"
					textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
					messageEncoding="Text">
					<readerQuotas maxDepth="320" maxStringContentLength="8192000"
						maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="1638400" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="ServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
					receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
					bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
					maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="6553600"
					textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
					messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="16384000"
						maxBytesPerRead="4096000" maxNameTableCharCount="16384000" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="RegistrationsSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
					receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
					bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
					maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="6553600"
					textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
					messageEncoding="Text">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
						maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="Service1Soap" closeTimeout="00:10:00" openTimeout="00:10:00"
					receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
					bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
					maxBufferPoolSize="65536000" maxBufferSize="65536000" maxReceivedMessageSize="6553600"
					textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
					messageEncoding="Text">
					<readerQuotas maxDepth="65536000" maxStringContentLength="65536000"
						maxArrayLength="65536000" maxBytesPerRead="65536000" maxNameTableCharCount="65536000" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="Service1Soap1" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://pool.pdsdb.org/service.asmx" binding="basicHttpBinding"
				bindingConfiguration="ServiceSoap" contract="RRFService.ServiceSoap"
				name="ServiceSoap" />
			<endpoint address="http://registrations.hcmis.org/Registrations.asmx"
				binding="basicHttpBinding" bindingConfiguration="RegistrationsSoap"
				contract="HCMISRegistrations.RegistrationsSoap" name="RegistrationsSoap" />
			<endpoint address="http://lab.pds.pdsdb.org/pdsservice/service1.asmx"
				behaviorConfiguration="CalculatorServiceBehavior" binding="basicHttpBinding"
				bindingConfiguration="ServiceDirectorySoap" contract="DirectoryService.ServiceSoap"
				name="ServiceSoap2" />
			<endpoint address="http://pds.hcmisonline.org/PDSService/Service1.asmx"
				binding="basicHttpBinding" bindingConfiguration="Service1Soap1"
				contract="DirectoryService.Service1Soap" name="Service1Soap" />
		</client>

	</system.serviceModel>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraGrid.v11.2" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.2.11.0" newVersion="11.2.11.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Utils.v11.2" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.2.11.0" newVersion="11.2.11.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraEditors.v11.2" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.2.11.0" newVersion="11.2.11.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraLayout.v11.2" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.2.11.0" newVersion="11.2.11.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Data.v11.2" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.2.11.0" newVersion="11.2.11.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
